<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>

		<!--Console appender-->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %m%n" />
		</Console>


		<!--File appender with append="false"-->
		<File name="File" fileName="lgd/application.log" append="false">
			<PatternLayout pattern="%d %p %C [%t] %m%n" />
		</File>

	</Appenders>
	<Loggers>
		<!--Root logger-->
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>
